<%# == Meta_data ============================================================ %>

<% provide(:html_head_title, "#{t '.html_head_title'}") %>

<%# == Meta_data - end ====================================================== %>

<h1>New Eg Component</h1>

<%= render 'form', eg_component: @eg_component %>

<%= link_to 'Back', eg_components_path %>
