<%# == Meta_data ============================================================ %>

<% provide(:html_head_title, "#{t '.html_head_title'}") %>
<% provide(:menu_nav_link_eg_posts, "active") %>

<%# == Meta_data - end ====================================================== %>

<h1>New Eg Post</h1>

<%= render 'form', eg_post: @eg_post %>

<%= link_to 'Back', eg_posts_path %>
